*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10vh;
    flex-grow: 0;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
}
.weather-display{
    display: grid;
    grid-template-columns: repeat(3,auto);
    border:1px solid black;
}
.name-container{
    grid-column: 1/4;
    height: 100%;
    font-size: 1rem;
    border:1px solid black;
}
.real-temperature {
    display: flex;
}
.temperature-unit{
    font-size: 20px;
}
.additional-info-container{
    grid-column: 3;
    grid-row: 2;
    border:1px solid black;
}
.feels-like,.temp-max,.temp-min{
    display: flex;
}
.temperature-container{
    display: flex;
    grid-column: 1/3;
    grid-row: 2;
    border:1px solid black;
}
.real-temperature{
    font-size:15rem;
}
.feels-like{
    font-size:2rem;
}
